.centered {
  flex: 1;
  padding: 80px;
  text-align: left;
  font-family: 'Helvetica Neue', serif;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

button,
.counter {
  background: rgb(75, 185, 183);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background: rgb(136, 213, 213);
}

.ans-btn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-width: 150px;
  min-height: 40px;
  background-color: rgb(185, 240, 240);
  width: 100%;
  text-align: left;
  border: 2px solid rgb(75, 185, 183);
  transition-duration: 0.1s;
  transition-property: background-color, border;
  transition-timing-function: ease-out;
}

.ans-btn:hover {
  background-color: rgb(136, 213, 213);
}

.selected {
  border: 2px solid rgb(19, 124, 117);
}

.right {
  background: rgba(21, 124, 19, 0.3);
  border: 2px solid rgb(12, 71, 67);
}

.wrong {
  background: rgba(136, 23, 23, 0.3);
  border: 2px solid rgb(136, 23, 23);
}

#answers-list {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.letter {
  border-radius: 0.3em;
  border: 1px solid rgb(75, 185, 183);
  background-color: rgb(194, 240, 240);
  min-width: 22px;
  height: 22px;
  margin: 5px;
  text-align: center;
  margin-right: 8px;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.1s;
  transition-property: background-color, border, color;
  transition-timing-function: ease-out;
}

.right .letter {
  border: 1px solid rgba(21, 124, 19);
  background-color: rgba(21, 124, 19);
  color: rgb(255, 255, 255);
}

.wrong .letter {
  border: 1px solid rgba(136, 23, 23);
  background-color: rgba(136, 23, 23);
  color: rgb(255, 255, 255);
}

.answer {
  width: 100%;
  min-width: min-content;
  font-size: 0.8em;
  padding: 0 4px;
}

.checkmarkV,
.checkmarkX {
  visibility: hidden;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
}

.checkmarkV {
  display: none;
}

.right .checkmarkV {
  display: flex;
  visibility: visible;
  color: rgb(16, 95, 37);
}

.right .checkmarkX {
  display: none;
}

.wrong .checkmarkX {
  display: flex;
  visibility: visible;
  color: rgb(136, 23, 23);
}

body {
  background-color: rgb(249, 222, 86);
}

.next-and-prev-page-button {
  position: relative;
  padding: 10px;
  left: 50%;
  bottom: 10%;
}

#prev-page-button {
  border-radius: 0.3em 0 0 0.3em;
  border-right: 1px solid rgba(23, 61, 61, 0.75);
}

#next-page-button {
  border-radius: 0 0.3em 0.3em 0;
}

.button-group {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  display: flex;
}

.counter {
  margin-right: 6px;
}

#start-over-button {
  margin-right: 6px;
}
